.contacts {
    background: var(--primary-gray);
}
.contacts__container {
    display: flex;
    flex-direction: column;
}
.contacts__title {
    text-align: center;
}
.contacts__content-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
//адреса
.contacts__address-box {
    flex: 0 1 calc(50% - 5px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-width: 450px;
    @media (max-width: 954px) {
        min-width: auto;
        flex: 1 1 100%;
        margin-bottom: 30px;
    }
}
.contact__address-card {
    flex: 0 1 calc(50% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-blue);
    background: var(--primary-white);
    padding: 20px;
    @media (max-width: 600px) {
        flex: 1 1 100%;
    }
}
.contact__address-card_logo-box {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.contacts__address-card-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.contacts__address-card-text {
    color: var(--primary-black);
    text-align: center;
    font-weight: 400;
    line-height: 32px; /* 128% */
    margin-bottom: 0;
}
.contacts__address-card-text_small {
    font-size: 12px;
}
.contacts__address-card-link {
}
.contacts__address-card-link-logo {
    width: 50px;
    height: 50px;
}
.contacts__address-card-text_center {
    margin-top: auto;
    margin-bottom: auto;
}
//форма
.contacts__form-box {
    flex: 0 1 calc(50% - 5px);
    display: flex;
    justify-content: center;
    @media (max-width: 954px) {
        flex: 1 1 100%;
    }
}
.contacts__form {
    min-width: 442px;
    @media (max-width: 600px) {
        min-width: auto;
        width: 100%;
    }
}
